.fundoCadastro {
    background-image: url("https://ik.imagekit.io/m1iwfxqae/Fotos%20-%20Integrantes%20(PI)/top-view-school-supplies-dark-surface.jpg?updatedAt=1742672032749");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
  }