.fundoLogin {
    background-image: url("https://ik.imagekit.io/m1iwfxqae/Fotos%20-%20Integrantes%20(PI)/social-media-marketing-concept-marketing-with-applications.jpg?updatedAt=1741734329414");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}