.fundoLogin {
    background-image: url("https://ik.imagekit.io/m1iwfxqae/Fotos%20-%20Integrantes%20(PI)/top-view-agenda-glasses-pencil.jpg?updatedAt=1742672027834");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}